# PostgreSQL para Docker Compose
DB_DATABASE=infrawatch
DB_USERNAME=infrawatch_user
DB_PASSWORD=change-this-password

# Laravel Reverb para Docker Compose
REVERB_APP_ID=change-this-id
REVERB_APP_KEY=change-this-key
REVERB_APP_SECRET=change-this-secret
